%ul.steps.list-inline
  - wizard_steps.drop(1).each_with_index do |wizard_step, index|
    %li{class: "step #{'active' if wizard_step == step}"}
      = link_to checkout_index_path + '/' + wizard_step.to_s do
        %span.step-number
          = index + 1
      %span.step-text.hidden-xs
        = wizard_step.capitalize
    - if wizard_step != wizard_steps.last
      %li.step-divider
