/.bundle

/db/*.sqlite3
/db/*.sqlite3-journal

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/storage/*
!/storage/.keep
/test
/node_modules
/yarn-error.log
/test
/public/assets
.byebug_history

/config/master.key

.rspec
coverage
