.input-group
  %a.input-link.btn-minus-js
    %i.fa.fa-minus.line-height-40
  %input.form-control.quantity-input.book-quantity-js{value: quantity}
  %a.input-link.btn-plus-js
    %i.fa.fa-plus.line-height-40
