.col-sm-6.col-md-3
  .general-thumb-wrap
    .thumbnail.general-thumbnail
      = book.cover_image(:small)
      .thumb-hover
        .general-thumb-link-wrap
          %a.thumb-hover-link{href: "#"}
            %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
          %a.thumb-hover-link{href: "#"}
            %i.fa.fa-shopping-cart.thumb-icon
  .mb-35
    .clearfix
      %p.title.mr-55
        = book.short_name
      %p.font-16.in-gold-500
        = t('book.price', price: book.price)
    %span.divider-sm
    %p.lead.small
      = book.authors_joined_by_comma
