%a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
  = FilteringOrder::BOOK_FILTERING_ORDER[@filtering_order.to_sym]
  %i.fa.fa-angle-down.dropdown-icon.pull-right
%ul.dropdown-menu
  - FilteringOrder::BOOK_FILTERING_ORDER.each do |filter_attribute, filter_name|
    %li
      = link_to filter_name, @page_presenter.current_url(filter: filter_attribute)
