.col-sm-12
  %p.in-gold-500.font-18.mb-25
    = t('devise.subtitle.remove_account')
  = simple_form_for(current_user, url: user_registration_path, method: :delete) do |f|
    .general-settings-btn
      = f.button :submit, t('button.remove_account'), class: 'btn btn-default mb-20'
    .form-group.checkbox.general-settings-checkbox
      %label.checkbox-label
        %input.checkbox-input{type: 'checkbox', hidden: 'true', required: true}
        %span.checkbox-icon
          %i.fa.fa-check
        %span.checkbox-text
          = t('devise.remove_account_approve')
